/vendor
/node_modules
.pi/
composer.lock
composer.phar
.phpunit.cache
.phpunit.result.cache
phpunit.xml
.idea
.vscode
.DS_Store
Thumbs.db
.env
.env.*
!.env.example
auth.json
*.log
*.zip
*.7z
.7z-filelist.tmp
